# Cargo build directory
/target

# Mbed Crypto key files
*.psa_its

# Editor swap files
*.swp


tags

# MacOS folder attributes file
*DS_Store

# VS Code config folder
*vscode

# Git patch files
*.patch

# Parsec key info mappings directory
mappings/

# TPM simulator state file
NVChip
