[Unit]
Description=Parsec Service
Documentation=https://parallaxsecond.github.io/parsec-book/parsec_service/install_parsec_linux.html

[Service]
WorkingDirectory=/home/parsec/
ExecStart=/home/parsec/.cargo/bin/parsec

[Install]
WantedBy=default.target
